* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

/* Loader */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #3b3b3b #3b3b3b transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent #d63200 #d63200;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/*  */

/* Navbar */
.header-div {
  background: #fff;
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-size: 0.9rem;
  color: #555;
  margin-top: -4px;
  display: flex;
  flex-direction: row;
  padding-left: 3px;
}

#welcome-text {
  font-weight: 500;
  padding-left: 4px;
}

.logo {
  color: #ff6b6b;
  font-weight: bold;
  cursor: pointer;
}

nav a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: #555;
  font-weight: 500;
}

nav a:hover {
  color: #ff6b6b;
}

/* Footer */
footer {
  padding: 1rem 0;
  text-align: center;
  background: #fff;
  width: 100%;
  margin-top: 3rem;
  color: #aaa;
  font-size: 0.85rem;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.05);
}

@media (max-width: 768px) {
  .nav-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .subtitle {
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
  }
}
